<div class="imagemodal_block">
    <h2>{{display_name}}</h2>
    <div class="wrapper">
        <a href="{{image_url}}">
            <img
                alt="{{alt_text}}"
                src="{{thumbnail_url}}"
                aria-describedby="xblock_imagemodal__description__{{xblock_id}}"
            />
        </a>
        <button class="fullscreen">
            <div class="btn-content">
                <svg width="448" height="512">
                  <use xlink:href="#expand-icon"></use>
                </svg>
                <span>Fullscreen</span>
            </div>
        </button>
    </div>
    <div class="curtain">
        <div class="mask">
            <div class="wrapper">
                <img alt="{{alt_text}}" src="{{image_url}}" />
            </div>
            <button class="zoom">
                <div class="btn-content zoom-in">
                    <svg width="512" height="512">
                      <use xlink:href="#zoom-in-icon"></use>
                    </svg>
                    <span>Zoom In</span>
                </div>
                <div class="btn-content zoom-out" style="display: none;">
                    <svg width="512" height="512">
                      <use xlink:href="#zoom-out-icon"></use>
                    </svg>
                    <span>Zoom Out</span>
                </div>
            </button>
            <button class="close">
                <div class="btn-content">
                    <svg width="14.828" height="14.828">
                      <use xlink:href="#close-icon"></use>
                    </svg>
                    <span>Close</span>
                </div>
            </button>
        </div>
    </div>
    <p id="xblock_imagemodal__description__{{xblock_id}}" class="sr">{{description}}</p>
</div>
